@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=cyrillic');

* {
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

.btn:focus, .btn:active {
   outline: none !important;
   box-shadow: none !important;
   border-color: transparent !important;
}

.title {
  font-size: calc(28px + 24 * ( (100vw - 420px) / 480));
}
@media screen and (max-width: 420px) {
  .title {
    font-size: 28px;
  }
}
@media screen and (min-width: 900px) {
  .title {
    font-size: 52px;
  }
}
.body {
  font-size: calc(14px + 6 * ( (100vw - 420px) / 480));
}
@media screen and (max-width: 420px) {
  .body{
    font-size: 14px;
  }
}
@media screen and (min-width: 900px) {
  .body{
    font-size: 20px;
  }
}

#logo {
  width: 3rem;
  height: 3rem;
}

.call-service {
  background-color: #1E824C;
}

.call-service:focus {
  background-color: #1E824C !important;
}

.pb-25 {
  max-width: 100%;
}

.call-service {
  background-color: #1E824C;
  border-color: #1E824C !important;
  transition: all 0.2s ease-in-out;
}

.call-service:hover {
  background-color: #1E824C;
  color: #fff;
}

.price {
  padding: 2rem;
}

.content-4 {
  background-color: #2b2d34;
  margin-top: 0 !important;
  color: #ecf0f1 !important;
}

.content-4 > .container {
  margin-top: 0 !important;
  padding-top: 6rem;
}

.h2-promo {
  font-family: "Helvetica Neue", "Helvetica", "Noto Sans", sans-serif;
}

.p-promo {
  color: #bdc3c7;
  font-family: "Helvetica Neue", "Helvetica", "Noto Sans", sans-serif;
  font-weight: 400;
}

.jumbotron-heading {
  font-weight: 200 !important;
  margin-bottom: 5rem;
}

.navbar-sticked {
  background-color: #913D88;
}

.navbar-custom {
  background-color: #1E824C;
}

.nav-link-custom {
  color: #fff !important;
  height: 48px;
  display: inline;
}

.nav-link-custom:hover {
  text-decoration: none;
}

#menu {
  padding: 5px;
}

#menu-ul {
  margin: 0 auto;
  font-size: 1.25rem;
}

.nav-text-custom {
  line-height: 32px;
  display: inline;
}

.delete-item {
  cursor: pointer;
}

.contact-2 {
  min-height: 40rem;
}

#cart-list-table td {
  line-height: 2.5rem;
}

nav {
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

th {
  text-align: center !important;
}

.table-hover td {
  cursor: pointer;
}

.service-link:focus {
  outline: none;
}

.card-layout > div {
  margin-top: 2rem;
}

.services {
  background-color: #F2F1EF;
  padding: 5rem 0 5rem 0;
}

.service-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: pointer !important;
}

.service-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgb(65,131,215);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.service-hover:hover {
    opacity: 0.7;
}

.service-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.service-modal .modal-dialog {
  max-width: none;
  height: 100%;
  margin: 0; }

.service-modal .modal-content {
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  background-color: #fff;
  box-shadow: none; }
  .service-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px; }
  .service-modal .modal-content p {
    margin-bottom: 30px; }
  .service-modal .modal-content p.item-intro {
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .service-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px; }
  .service-modal .modal-content img {
    margin-bottom: 30px; }
  .service-modal .modal-content button {
    cursor: pointer; }

.service-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent; }
  .service-modal .close-modal:hover {
    opacity: 0.3; }
  .service-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #222222; }
    .service-modal .close-modal .lr .rl {
      /* Safari and Chrome */
      z-index: 1052;
      width: 1px;
      height: 75px;
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: #222222; }

.service-modal .modal-backdrop {
  display: none;
  opacity: 0;
}

.service-modal .close-modal-extended {
  cursor: pointer;
  font-family: 'Droid Serif', "Helvetica Neue", "Helvetica", "Noto Sans", sans-serif;
  text-transform: uppercase;
  background-color: transparent; }
  .service-modal .close-modal-extended:hover {
    opacity: 0.3; }

.arrows {
  position: absolute;
  top: 25px;
  left: 30px;
}

.goback-arrow-left {
  height: 40px;
  width: 1px;
  background-color: #222222;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0;
  padding: 0;
}

.goback-arrow-right {
  height: 40px;
  width: 1px;
  background-color: #222222;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -12px;
  padding: 0;
}

.arrow-text {
  position: absolute;
  top: 42px;
  left: 55px;
}

.goback-text {
  font-size: 1.4rem;
}

#phone, #date, #name, #adress, #date-mobile, #phonetocall {
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab-link {
  color: #2c3e50 !important;
}

.btn-secondary:hover {
  background-color: #868e96 !important;
  border-color: #868e96 !important;
}

.input-group-addon {
  min-width: 50px !important;
  text-align: center !important;
}

.input-group-addon > span {
  margin: 0 auto;
}

/* Lazy loading */

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}

.review {
  border: 1px #ced6e0 solid;
}

@media (max-width: 767px) {
  #date {
    display: none;
  }

  #date-mobile {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  #date {
    display: block;
  }

  #date-mobile {
    display: none;
  }
}

.btn-bigger {
  display: block;
}
.btn-smaller {
  display: none;
}

.left-table {
  border-right: 1px rgb(233, 236, 239) solid;
}

.bg-primary {
  background-color: #4183D7 !important;
  color: #fff;
}

.nav-tabs {
  border-bottom: 0 !important;
}

.deals {

}

.deal {
  background-color: #34495e;
}

.img-deal {
  width: 100%;
  height: auto;
}

.deal-desc {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 38%;
  padding-left: 18%;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1080px) {
  .deal-desc {
    padding-top: 18%;
    padding-left: 8%;
  }
}

@media screen and (max-width: 992px) {
  .deal-desc h3 {
    font-size: 1.3rem;
  }

  .deal-desc p {
    font-size: .8rem;
  }

  .deal-desc .btn {
    font-size: .8rem !important;
    width: 110px;
  }
}

@media screen and (max-width: 667px) {
  .deal-desc {
    padding-top: 6%;
    padding-left: 6%;
  }
}

@media screen and (min-width: 465px)  and (max-width: 575.98px) {
  .deal-desc {
    padding-top: 28%;
    padding-left: 14%;
  }

  .deal-desc h3 {
    font-size: 3rem;
  }

  .deal-desc p {
    font-size: 1.2rem;
  }

  .deal-desc .btn {
    font-size: 1.2rem !important;
    width: 150px;
  }
}

@media screen and (max-width: 464.98px) {
  .deal-desc {
    padding-top: 20%;
    padding-left: 10%;
  }

  .deal-desc h3 {
    font-size: 2rem;
  }

  .deal-desc p {
    font-size: .9rem;
  }

  .deal-desc .btn {
    font-size: 1rem !important;
    width: 150px;
  }
}

@media screen and (max-width: 330px) {
  .deal-desc {
    padding-top: 10%;
    padding-left: 6%;
  }
}

@media screen and (max-width: 280px) {
  .deal-desc {
    padding-top: 10%;
    padding-left: 6%;
  }

  .deal-desc h3 {
    font-size: 1.65rem;
  }

  .deal-desc p {
    font-size: .8rem;
  }

  .deal-desc .btn {
    font-size: .8rem !important;
    width: 120px;
  }
}

.steps {
  background: linear-gradient(#5900b2, transparent), linear-gradient(200deg, #d047d1, #ff3838, #fff200);
  color: #fff;
}

.steps-text {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 767.98px) {
  .steps-number {
    font-size: 3.5rem;
    border: 2px #fff solid;
    width: 4rem;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

  }

  .steps-text {
    font-size: 1.3rem;
    margin-left: .8rem;
  }

  .steps-col {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 180px) and (max-width: 480px) {
  
}


.circle-empty {
  width: 16px;
  height: 16px;
  border: 2px #fff solid;
  display: block;
  vertical-align: middle;
  margin: 0 auto;
  margin-bottom: 18px;
}

.circle-full {
  width: 16px;
  height: 16px;
  border: 2px #fff solid;
  background-color: #fff;
  display: block;
  vertical-align: middle;
  margin: 0 auto;
  margin-bottom: 18px;
}

.dotted-line {
  width: 42%;
  height: 1px;
  border-top: .3rem #fff dotted;
  margin-top: 5px;
}

.dotted-line.float-left {
  margin-left: 4px;
}

.bg-orange:hover {
  background-color: rgba(230, 126, 34, .5);
}

.bg-dark-blue:hover {
  background-color: rgba(39, 60, 117, .5);
}

.bg-blue:hover {
  background-color: rgba(52, 152, 219, .5);
}

.bg-green:hover {
  background-color: rgba(39, 174, 96, .5);
}

.deal-text-light, .deal-text-light p {
  color: #fff;
}

.btn-deal {
  display: block;
  margin-left: 20%;
  width: 130px;
  background: transparent;
  border: 3px #fff solid;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.btn-deal:hover {
  color: #2980b9;
  background-color: #fff;
  border: 3px #fff solid;
}

.reviews {
  background-color: #213040;
}

.card-columns {
  -webkit-column-count: 2;
  column-count: 2;
}

.accessories-text {
  position: absolute;
  top: 32%;
  left: 6%;
}

.accessories-text > h3 {
  color: #59a0d7;
}

.accessories-text > h3 > a:hover {
  color: #59a0d7;
}

@media screen and (max-width: 575.98px) {
  .accessories-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
}

@media screen and (min-width: 180px) {
  .accessories-text > h1 {
    font-size: calc(32px + 20 * ((100vw - 320px) / 660));
  }

  .accessories-text > h3 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 660));
  }
}


.img-accessories {
  width: 100%;
  height: auto;
}

.review-contacts {
  background: #f1f2f6;
  padding: 5px;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 1rem;
}

@media screen and (min-width: 180px) {
  .review-contacts h5 {
    font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    line-height: 1.25;
  }
}

@media screen and (min-width: 1200px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media screen and (max-width: 768px) {
  .left-table {
    border-right: 0;
  }
}

@media screen and (max-width: 667px) {

    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    .btn-bigger {
      display: none;
    }
    .btn-smaller {
      display: block;
    }

    #logo {
      display: none !important;
    }

    .card-columns {
      -webkit-column-count: 1;
      column-count: 1;
    }

}

@media screen and (max-width: 362px) {

  #menu-ul {
    font-size: 1rem;
  }

  .xxs-logo {
    font-size: 1.5rem;
  }

  #logo {
    /*width: 2.5rem;
    height: 2.5rem;
    margin-top: .2rem !important;*/
    display: none;
  }

  .mr-2, .ml-2 {
    margin: 0 auto !important;
  }

  .mb-2 {
    margin-bottom: .8rem !important;
  }

  .cover-inner {
    padding: 0 !important;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}
