@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  color: #46484a; }

a {
  color: #59a0d7; }

h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  font-weight: 400; }

h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -.085rem; }

h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400; }

h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase; }

.card-title {
  font-size: 1.25rem;
}

.card-text {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .92rem;
  line-height: 1.3rem;
}

h4.modal-title {
  font-weight: 300;
  letter-spacing: -.09rem;
}