.bg-grey {
  background: #f2f2f2;
  border: 3px #fff solid;
}

.container-fluid > .row {
    margin-left: 0;
    margin-right: 0;
}

.item {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

.item-img {
  width: 100% !important;
  height: auto;
  display: block;
}

.item h5, h6 {
  color: #333;
  font-weight: 300;
  letter-spacing: .03rem;
}

.item a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.item a:hover h5 {
  color: #0070c9 !important;
}

.item-label {
  font-size: .65rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .095rem;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #f0932b;
}

@media screen and (min-width: 1400px) {
  .pl-10 {
    padding-left: 10rem !important;
  }

  .pr-10 {
    padding-right: 10rem !important;
  }
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.item-content {
  width: 100%;
}

.carousel-item > img {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 362px) {

  .xxs-logo {
    font-size: 1.5rem;
  }

}

.bg-green {
  background-color: #1e814b !important;
}

.nav-link-custom {
  color: #fff !important;
  height: 48px;
  display: inline;
  padding-left: .65rem;
}

@media screen and (max-width: 991.98px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
  }

  .nav-item {
    padding-right: .35rem;
  }

  .nav-link-custom {
    padding-left: .3rem;
  }
}

.nav-link-custom:hover {
  text-decoration: none;
}
